<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SectionTitle</key>
	<string>CALayer</string>
	<key>SubSections</key>
	<array>
		<dict>
			<key>SubSectionName</key>
			<string>Color</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>opacity</string>
				<string>backgroundColor</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Border</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>borderWidth</string>
				<string>borderColor</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Shadow</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>shadowOpacity</string>
				<string>shadowColor</string>
				<string>shadowOffset</string>
				<string>shadowRadius</string>
				<string>shadowPath</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Masking</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>masksToBounds</string>
				<string>cornerRadius</string>
				<string>maskedCorners</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Drawing</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>opaque</string>
				<string>hidden</string>
				<string>doubleSided</string>
				<string>drawsAsynchronously</string>
				<string>allowsGroupOpacity</string>
				<string>allowsEdgeAntialiasing</string>
				<string>edgeAntialiasingMask</string>
				<string>shouldRasterize</string>
				<string>rasterizationScale</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Contents</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>geometryFlipped</string>
				<string>needsDisplayOnBoundsChange</string>
				<string>contentsRect</string>
				<string>contentsCenter</string>
				<string>contentsScale</string>
				<string>contentsGravity</string>
				<string>contentsFormat</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Filtering</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>minificationFilter</string>
				<string>minificationFilterBias</string>
				<string>magnificationFilter</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Timing</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>beginTime</string>
				<string>timeOffset</string>
				<string>repeatCount</string>
				<string>repeatDuration</string>
				<string>duration</string>
				<string>speed</string>
				<string>fillMode</string>
				<string>autoreverses</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
