<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SectionTitle</key>
	<string>UITextField</string>
	<key>SubSections</key>
	<array>
		<dict>
			<key>SubSectionName</key>
			<string></string>
			<key>SubSectionAttributes</key>
			<array>
				<string>text</string>
				<string>textColor</string>
				<string>font</string>
				<string>textAlignment</string>
				<string>placeholder</string>
				<string>allowsEditingTextAttributes</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Appearance</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>borderStyle</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Clear Button</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>clearButtonMode</string>
				<string>clearsOnBeginEditing</string>
				<string>clearsOnInsertion</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string></string>
			<key>SubSectionAttributes</key>
			<array>
				<string>leftViewMode</string>
				<string>rightViewMode</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string></string>
			<key>SubSectionAttributes</key>
			<array>
				<string>minimumFontSize</string>
				<string>adjustsFontSizeToFitWidth</string>
				<string>adjustsFontForContentSizeCategory</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string></string>
			<key>SubSectionAttributes</key>
			<array>
				<string>background</string>
				<string>disabledBackground</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Autocorrection</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>spellCheckingType</string>
				<string>autocapitalizationType</string>
				<string>autocorrectionType</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Auto-Formatting</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>smartQuotesType</string>
				<string>smartDashesType</string>
				<string>smartInsertDeleteType</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Keyboard</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>keyboardType</string>
				<string>keyboardAppearance</string>
				<string>textContentType</string>
				<string>returnKeyType</string>
				<string>enablesReturnKeyAutomatically</string>
				<string>secureTextEntry</string>
				<string>passwordRules</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Drag And Drop</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>textDragActive</string>
				<string>textDropActive</string>
				<string>textDragOptions</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
