<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SectionTitle</key>
	<string>Layout</string>
	<key>SubSections</key>
	<array>
		<dict>
			<key>SubSectionName</key>
			<string></string>
			<key>SubSectionAttributes</key>
			<array>
				<string>frame</string>
				<string>bounds</string>
				<string>center</string>
				<string>transform</string>
				<string>safeAreaInsets</string>
				<string>layoutMargins</string>
				<string>directionalLayoutMargins</string>
				<string>insetsLayoutMarginsFromSafeArea</string>
				<string>preservesSuperviewLayoutMargins</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Autoresizing</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>autoresizingMask</string>
				<string>autoresizesSubviews</string>
				<string>translatesAutoresizingMaskIntoConstraints</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Auto Layout</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>iba_contentHuggingPriorities</string>
				<string>iba_contentCompressionResistancePriorities</string>
				<string>intrinsicContentSize</string>
				<string>iba_alignmentRectForCurrentFrame</string>
				<string>alignmentRectInsets</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Layout Report</string>
			<key>SubSectionAttributes</key>
			<array>
				<dict>
					<key>ViewModelName</key>
					<string>Reveal.LayoutIssuesInspectorViewModel</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Participating Constraints Affecting Layout</string>
			<key>SubSectionAttributes</key>
			<array>
				<dict>
					<key>ViewModelName</key>
					<string>Reveal.ParticipatingConstraintsAffectingLayoutInspectorViewModel</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Other Participating Constraints</string>
			<key>SubSectionAttributes</key>
			<array>
				<dict>
					<key>ViewModelName</key>
					<string>Reveal.OtherParticipatingConstraintsInspectorViewModel</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
